<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Taller Mecánico{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">

   <nav class="bg-white shadow-sm border-b border-gray-100 mb-8">
    <div class="max-w-5xl mx-auto px-4 py-3 flex justify-between items-center">
        
        <a href="{% url 'dashboard' %}" class="text-xl font-bold text-slate-800 tracking-tight">
            Gestor<span class="text-emerald-600">Honorarios</span>
        </a>

        <div>
            {% if user.is_authenticated %}
                <span class="text-sm text-gray-500 mr-4 hidden md:inline-block">
                    Hola, <a href="{% url 'perfil' %}" class="font-semibold text-emerald-600 hover:text-emerald-700 hover:underline transition">{{ user.username }}</a>
                </span>
                
                <form action="{% url 'logout' %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="text-sm font-medium text-red-500 hover:text-red-700 transition">
                        Cerrar Sesión
                    </button>
                </form>
            {% else %}
                {% endif %}
        </div>
        
    </div>
</nav>

    <main class="flex-grow container mx-auto p-6">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-slate-900 text-gray-400 text-center p-4 mt-auto">
        <p>&copy; 2026 tus horas .</p>
    </footer>

</body>
</html>